<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rewaa.surepay.capacitor">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".ReceiptActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <receiver
            android:name=".SurepayPlugin$PaymentStatusReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
